// variables
$main-bg:         #F2F2F2;
$secondary-bg:    #333D4B;
$third-bg:        #0E8784;
$main-text-color:  #FEFCF7;
$ff-title:          'Fraunces', serif;
$weight-title:      900;
$fs-title:          40px;

$title-main:  normal 900 72px 'Fraunces' , serif;

$ff-text:           'Barlow', sans-serif;
$weight-text:       400;
$fs-text:           16px;

$link-weight:      700;

$main-text-color-2: #333D4B;
       
$link-color:     #83888F;

$btn-bg-hover:   #66D2CF;

