.container{
    max-width: 1280px;
    margin: 0 auto;
    // background-color: rgba(5, 78, 25, 0.2);
}

// R W D ====================

@media only screen and (max-width: 768px){
    .container{
        max-width: 689px;
        margin: 0 auto;
        // padding: 0 20px;
        // background-color: rgba(5, 78, 25, 0.2);
    }
}