.explain {
  width: 1045px;
  height: 565px;
  // background-color: cadetblue;
  margin: 0 auto;
  margin-top: 360px;
  margin-bottom: 200px;

  &__button > a {
    padding: 16px 31px;
    background-color: $third-bg;
    color: $main-bg;
    font-family: $ff-title;
    font-size: $fs-text;
    line-height: 25px;
    border-radius: 6px;
    text-decoration: none;
    margin-bottom: 200px;
  }

  &__button > a:hover {
    background-color: #66d2cf;
  }

  .circle {
    width: 31px;
    height: 31px;
    border-radius: 50%;
    border: 2px solid #0e8784;
    background-color: #f2f2f2;
    float: left;
    margin-bottom: 67px;
  }

  .line {
    margin-top: 14px;
    width: 316px;
    height: 2px;
    background-color: #fdd6ba;
    float: left;
  }

  &__title {
    font-size: 24px;
    color: #83888f;
    font-family: $ff-title;
    font-weight: $weight-title;
    line-height: 32px;
    margin-bottom: 80px;
  }

  &__context {
    width: 1045px;
    height: 453px;
    display: flex;
    // background-color: #8cb3e966;

    &--cards {
      width: 340px;
      height: 355px;
      text-align: start;

      b {
        color: #fdd6ba;
        font-family: $ff-title;
        font-size: 72px;
        line-height: 72px;
        font-weight: $weight-title;
      }

      h3 {
        color: $secondary-bg;
        font-family: $ff-title;
        font-size: 32px;
        line-height: 36px;
        font-weight: $weight-title;
        margin-top: 38px;
        width: 255px;
      }

      p {
        color: $secondary-bg;
        font-size: $fs-text;
        font-weight: $weight-text;
        font-family: $ff-text;
        line-height: 26px;
        margin-top: 42px;
        width: 285px;
      }
    }
  }
}

/// R W D ====================  768px

@media only screen and (max-width: 768px) {
  .explain {
    max-width: 689px;
    height: 610px;
    // background-color: cadetblue;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 200px;

    &__button {
      margin-top: 100px;
    }

    &__button > a {
      padding: 16px 31px;
      background-color: $third-bg;
      color: $main-bg;
      font-family: $ff-title;
      font-size: $fs-text;
      line-height: 25px;
      border-radius: 6px;
      text-decoration: none;
    }

    &__button > a:hover {
      background-color: #66d2cf;
    }

    .circle {
      width: 31px;
      height: 31px;
      border-radius: 50%;
      border: 2px solid #0e8784;
      background-color: #f2f2f2;
      float: left;
      margin-bottom: 67px;
    }

    .line {
      margin-top: 14px;
      width: 200px;
      height: 2px;
      background-color: #fdd6ba;
      float: left;
    }

    &__title {
      font-size: 24px;
      color: #83888f;
      font-family: $ff-title;
      font-weight: $weight-title;
      line-height: 32px;
      margin-bottom: 80px;
    }

    &__context {
      width: 689px;
      height: 370px;
      display: flex;
      justify-content: space-between;
      // background-color: #8cb3e966;

      &--cards {
        width: 223px;
        height: 370px;
        text-align: start;
        margin-bottom: 100px;

        b {
          color: #fdd6ba;
          font-family: $ff-title;
          font-size: 72px;
          line-height: 72px;
          font-weight: $weight-title;
        }

        h3 {
          color: $secondary-bg;
          font-family: $ff-title;
          font-size: 28px;
          line-height: 32px;
          font-weight: $weight-title;
          margin-top: 38px;
          width: 223px;
        }

        p {
          color: $secondary-bg;
          font-size: 15px;
          font-weight: $weight-text;
          font-family: $ff-text;
          line-height: 25px;
          margin-top: 42px;
          width: 223px;
          height: 151px;
        }
      }
    }
  }
}

/// R W D ====================// RWD ============== 375px

@media only screen and (max-width: 375px) {
  .explain {
    max-width: 327px;
    height: 1270px;
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;

    &__button {
      width: 217px;
      height: 56px;
      margin: 0 auto;
    }

    &__button > a {
      padding: 16px 31px;
      background-color: $third-bg;
      color: $main-bg;
      font-family: $ff-title;
      font-size: $fs-text;
      line-height: 25px;
      border-radius: 6px;
      text-decoration: none;
    }

    &__button > a:hover {
      background-color: #66d2cf;
    }

    .circle {
      display: none;
      width: 31px;
      height: 31px;
      border-radius: 50%;
      border: 2px solid #0e8784;
      background-color: #f2f2f2;
      float: left;
      margin-bottom: 67px;
    }

    .line {
      display: none;
      margin-top: 14px;
      width: 200px;
      height: 2px;
      background-color: #fdd6ba;
      float: left;
    }

    &__title {
      font-size: 24px;
      color: #83888f;
      font-family: $ff-title;
      font-weight: $weight-title;
      line-height: 32px;
      text-align: center;
      margin-bottom: 80px;
    }

    &__context {
      width: 327px;
      height: auto;
      display: flex;
      align-items: center;
      flex-direction: column;
      // justify-content: space-between;

      &--cards {
        width: 229px;
        height: 369px;
        text-align: center;
        margin-bottom: 100px;

        b {
          color: #fdd6ba;
          font-family: $ff-title;
          font-size: 72px;
          line-height: 72px;
          font-weight: $weight-title;
          text-align: center;
        }

        h3 {
          text-align: center;
          color: $secondary-bg;
          font-family: $ff-title;
          font-size: 28px;
          line-height: 32px;
          font-weight: $weight-title;
          margin-top: 38px;
          // height: 64px;
        }

        p {
          color: $secondary-bg;
          font-size: 15px;
          font-weight: $weight-text;
          font-family: $ff-text;
          line-height: 25px;
          margin-top: 42px;
          height: 154px;
          // text-align: center;
        }
      }
    }
  }
}
