.hero{
    width: 1111px;
    height: 524.55px;
    margin: 90px auto ;
    // background-color: rgb(200, 222, 176);
    position: relative;
    

    &__bg{
        max-width: 1111px;
        margin: auto 0;
        opacity: 0.5;
        position: relative;
        background-color: $main-bg;
        // background-image: url(../../images/photos/our-collection.svg);
        // background-repeat: no-repeat;
        // background-size: cover;
        
    }

    &__card-wrapper{
        width: 1111px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        z-index: 11;
        top: 128px;         

        
        &--card{
            width: 255px;
            height: 398.55px;
            display: flex;
            align-items:center;
            flex-direction: column;     
            
           .card-context>h3{
            text-align: center;
            margin-top: 70px;
            font-family: $ff-title;
            font-weight: $ff-title;
            font-size: 24px;
            line-height: 32px;
            color:$secondary-bg;
            }

            
        }

        &--card> .card-context> h3{
            text-align: center;
            margin-top: 70px;
            font-family: $ff-title;
            font-weight: $ff-title;
            font-size: 24px;
            line-height: 32px;
            color:$secondary-bg;
        }

        &--card> .card-context>p{
            text-align: center;
            margin-top: 24px;
            color: $secondary-bg;
            font-size: 16px;
            font-family: $ff-text;
            font-weight: $weight-text;
        }   
    }

}




/// R W D ======================  768px TABLET

@media only screen and (max-width:768px){
    .hero{
        max-width: 689px;
        // height: 524.55px;
        margin: 90px auto ;
        // background-color: rgb(200, 222, 176);
        position: relative;
        margin-bottom: 500px;
        
    
        &__bg{
            display: flex;
            justify-content: center;
            max-width: 768px;
            margin: auto 0;
            opacity: 0.5;
            position: relative;
            // background-color: $main-bg;
            // background-image: url(../../images/photos/our-collection.svg);
            // background-repeat: no-repeat;
            // background-size: cover;
            
            img{
                max-width: 689px;
            }
        }
    
        &__card-wrapper{
            max-width: 689px;
            height: auto;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            align-items: center;
            position: absolute;
            z-index: 11111;
            top: 72px; 
            gap: 40px;        
    
            
            &--card{                
                width: 573px;
                height: 193px;      
                display: flex;
                flex-direction: row;
                align-items:center;  
                // justify-content: space-between;

                
                .card-context{
                    height: 193px;
                    display: flex;
                    // justify-content: flex-start;
                    align-items: flex-start;
                    flex-direction: column;
                }
                
            }
    
            &--card> .card-context> h3{
                margin-top: 32px;
                font-family: $ff-title;
                font-weight: $ff-title;
                font-size: 24px;
                line-height: 32px;
                color:$secondary-bg;
            }
    
            &--card> .card-context>p{
                text-align: left;
                margin-top: 24px;
                color: $secondary-bg;
                font-size: 15px;
                font-family: $ff-text;
                font-weight: $weight-text;
            }   
        }
    
    }
}